.entry-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 78, 233);
    box-shadow: 0px 0px 15px -5px black;
}

.italic-placeholder::placeholder {
    font-style: italic;
  }

